.container {
  width: 1280px;
  height: 100vh;
  margin: 5rem auto auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  margin-bottom: 3rem;
}

.modalButton {
  width: 3rem;
  min-height: 3rem;
  display: grid;
  border: 0;
  background-color: #0d6efd;
  border-radius: 30%;
  justify-content: center;
  align-content: center;
  transition: 0.2s;
  left: 30vw;
  top: 10vh;
  position: relative;
  &:hover {
    background-color: #0a51bb;
  }
}

.buttonIcon {
  font-size: 1rem;
  color: white;
}
