.aviso {
  width: 20rem;
  height: 9rem;
  padding: 1rem;
  background-color: rgb(235, 235, 235);
  margin: 0.5rem;
  border-radius: 1.5rem;
}

.topoCard {
  display: flex;
  justify-content: space-between;
}

.authorName {
  font-size: 1.25rem;
}

.deleteButton {
  width: 2rem;
  height: 2rem;
  color: rgb(221, 0, 0);
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  transition: 0.2s color;

  &:hover {
    color: rgb(151, 0, 0);
  }
}

.editButton {
  width: 2rem;
  height: 2rem;
  color: rgb(66, 66, 241);
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  transition: 0.2s color;

  &:hover {
    color: rgb(44, 44, 163);
  }
}

.formRow {
  display: flex;
  flex-direction: row;
}

.numberInput {
  margin-left: 1rem;
  width: 2rem;
  max-height: 2rem;
}

.textArea {
  width: 100%;
  height: 5rem;
}

.users {
  width: 90%
}
